{
  'globals': {
    'afterEach': true,
    'beforeEach': true,
    'chai': true,
    'describe': true,
    'inject': true,
    'it': true,
    'module': true
  },
  'rules': {
    'quotes': [1, 'single'],
    'strict': [2, 'global'],
    'no-unused-expressions': [0]
  }
}
